*
{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: 100px;
    justify-content: center;
    display: flex;
    
}
.container{
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  

}
.navigation{
    width: 25rem;
    
}
.logo{
    margin-left: 5px;
}
a{
    text-decoration: none;
    margin-left: 20px;
    color:black;
    
}
.btn{
    width: 80px;
    height: 35px;
    margin-left: 73px;
    background-color: rgb(10, 167, 245);
    border: 0;
    padding: 10px;
    color: white;
}
.make-up{
    color:rgb(6, 167, 248) ;
}
.main-1{
    width: 100%;
    height: 2000px;
  
 
}
.main{
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
   
    
}
.images{
    width: 50%;
    height: 500px;
}

.second-part{
	width: 100%;
	height: 550px;
    
}
.textline{
	z-index: 5px;
	margin-top: 355px;
	position: absolute;
	font-size: 30px;
    font-size: 3rem;
   
    
}
.textline-1{
    position: absolute;
    margin-left: 40px;
    font-size: 3rem;
    margin-top: 300px;
}
.font-photo{
	margin-left: 133px;
	height: 480px;
	width: 817px;
    margin-top: 10px;
    border-bottom: 1px solid ghostwhite;
}
   
.my-about{
    width: 100%;
    justify-content: center;
    display: flex;
}
.self-part{
    width: 50%;
    height: 500px;
   
    display: flex;
   
}
.mine{
    width: 580px;
    border-bottom: 1px solid ghostwhite;
    border-left: 0.5px solid ghostwhite;
}
.about-head{
    margin-top: 80px;
    margin-left: 30px;
    font-size: 1.5rem;
}
.text-head{
    margin-top: 20px;
    margin-left: 35px;
    opacity: 0.7;
}
.about-text{
    width: 380px;
    font-size: 14px;
    margin-left: 35px;
    margin-top: 20px;
    opacity:0.8;
}
.btn-2{
    width: 80px;
    height: 35px;
    margin-left: 35px;
    margin-top: 20px;
    background-color: rgb(10, 167, 245);
    border: 0;
    padding: 10px;
    color: white;
}
.icons{
    width: 200px;
    height: 40px;
   
    margin-top: 40px;
    margin-left: 10px;
}
.foot-apps{
    margin-left: 15px;
    width: 20px;


}
.four-photo{
    width: 100%;
    height: 650px;
    justify-content: center;
    display: flex;
}
.four-con{
    width: 50%;
    height: 590px;
    display: flex;
}
.four-text{
    width: 380px;
    height: 450px;
    margin-top: 70px;
    
}
.play{
    font-size: 4rem;
    margin: 20px 40px;
}
.both{
    margin-left: 40px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    opacity: 0.8;
}
.cv{
    width: 100px;
    height: 35px;
    margin-left: 35px;
    margin-top: 20px;
    background-color: rgb(10, 167, 245);
    border: 0;
    padding: 10px;
    color: white;
}


.photos-4{
   width: 400px;
   margin-left: 120px;
}


.img-1{
    position: absolute;
    margin-left: 250px;
    width: 200px;
    z-index: 1;
    margin-top: 40px;
    border: 1.5px solid black;
}
.img-2{
    position: absolute;
    width: 200px;
    border: 1.5px solid black;
    margin-top: 250px;
    z-index: 6;
}
.img-3{
    position: absolute;
    width: 200px;
    border: 1.5px solid black;
    z-index: 2;
    margin-left: 60px;
}
.img-4{
    width: 200px;
    margin-top: 300px;
    margin-left: 180px;
    position: absolute;
    z-index: 4;
    border: 1.5px solid black;
}    
.skill{
    width: 100%;
    height: 650px;
    justify-content: center;
    display: flex;
}
.cons{
    width: 50%;
    height: 600px;
}
.cons-tx{
    width: 100%;
    height: 150px;
    text-align: center;
}
.my-s{
    font-size: 3rem;
    margin: 10px 0px;
}
.world{
    font-size: 1.4rem;
    margin-top: 25px;
}
.card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 420px;
    column-gap: 10px;
    row-gap: 5px;
   
}
.one{
    width: 290px;
    height: 370px;
    margin: 10px;
    border: 1px solid rgb(190, 176, 176);
    box-shadow: 1px 1px 10px gray;
}
.two{
    width: 290px;
    height: 370px;
    margin: 10px;
    border: 1px solid rgb(190, 176, 176);
    box-shadow: 1px 1px 10px gray;
}
.three{
    width: 290px;
    height: 370px;
    margin: 10px;
    border: 1px solid rgb(190, 176, 176);
    box-shadow: 1px 1px 10px gray;
}
.hyper{
    width: 100%;
    padding: 0px;
    border-bottom: 1px solid rgb(190, 176, 176);
}
.ht{
    margin-left: 100px;
    margin-top: 10px;
    opacity: 0.8;
}
.ht-1{
    margin-left: 110px;
    margin-top: 10px;
    opacity: 0.8;
   
}
.ht-2{
    margin-left: 80px;
    margin-top: 10px;
    opacity: 0.8;
}
.scading{
    width: 100%;
    border-bottom: 1px solid rgb(190, 176, 176);
}
.js{
    width: 100%;
    border-bottom: 1px solid rgb(190, 176, 176) ;
}
.bada{
    width: 260px;
    margin-left: 20px;
    margin-top: 10px;
    opacity: 0.8;
}
.btn-6{
    width: 100px;
    height: 35px;
    margin-left: 95px;
    margin-top: 20px;
    background-color: rgb(10, 167, 245);
    border: 0;
    padding: 10px;
    color: white;
}
.pre-work{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}
.works{
    width: 50%;
    height: 550px;
    justify-content: center;
    
}
.work-text{
    width: 100%;
    height: 130px;
    text-align: center;
}
.p-t{
    font-size: 3rem;
}
.p-t-t{
    margin-top: 25px;
    font-size: 1.2rem;
    opacity: 0.8;
}

.work-img{
    width: 100%;
    height: 400px;
    margin-top: 30px;
    
}
.dis{
    width: 150px;
    height: 300px;
    margin-left: 125px;
    transform: rotate(-55deg);
    border: 1px solid black;
    box-shadow:1px 1px 10px gray ;
}
.end{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}
.foot{
    width: 50%;
    height: 200px;
    background-color:black;
    display: flex;
    justify-content: space-around;
}
.foot-n{
    font-size: 1rem;
    color: aliceblue;
    height:20%;
    border-bottom: 1px solid rgb(153, 138, 138);
    margin-top: 70px;
}
.ar{
    color: aliceblue;
    height:20%;
    border-bottom: 1px solid rgb(153, 138, 138);
    margin-top: 70px;
}
.no{
    color: aliceblue;
    font-size: 1.2rem;
    height:20%;
    border-bottom: 1px solid rgb(153, 138, 138);
    margin-top: 70px;
}

